.menu {
  background: center/cover no-repeat #fff url(../images/background_menu.svg);
  padding: 100px 0;
}

.menu__title {
  max-width: 780px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
  text-align: center;
  color: #000;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
