.reservation {
  background: center/cover no-repeat #d9e7ff
    url(/images/background_reservation.svg);
  height: 800px;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
  text-align: center;
  color: #000;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto 0;
  max-width: 385px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__fieldset {
  max-width: 385px;
  border: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px 0;
  border: 1px solid #838383;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  background-color: #1878dc;
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  margin: 0 0 32px 0;
}
.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 1s linear;
}

.form__checkbox-container {
  border-radius: 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form__checkbox_box {
  width: 20px;
  height: 20px;
}
