.reservation {
  background: center/cover no-repeat #d9e7ff
    url(/images/background_reservation.svg);
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
  text-align: center;
  color: #000;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto 0;
  max-width: 385px;
}
