.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: center/cover no-repeat #fff url(../images/background_header.svg);
  height: 800px;
  padding: 20px 80px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-left: auto;
  margin-right: 80px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
}

.header__title-wrapper {
  margin-left: 80px;
}

.header__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.content {
}

.recipes {
  background: center/cover no-repeat #0a2750 url(/images/background_recipes.svg);
  color: #fff;
  height: 800px;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  display: flex;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}

.reservation {
  background: center/cover no-repeat #d9e7ff
    url(/images/background_reservation.svg);
  height: 800px;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
  text-align: center;
  color: #000;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto 0;
  max-width: 385px;
}

.reservation__form_label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.reservation__form_fieldset {
  max-width: 385px;
  border: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.reservation__form_input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px 0;
  border: 1px solid #838383;
}

.reservation__form_input::placeholder {
  color: #838383;
}

.reservation__form_button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  background-color: #1878dc;
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  margin: 0 0 32px 0;
}
.reservation__form_button:hover {
  background-color: #3f96f3;
  transition: background-color 1s linear;
}

.reservation__form_checkbox-container {
  border-radius: 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.reservation__form_checkbox_box {
  width: 20px;
  height: 20px;
}

.reservation__form_label_type_checkbox {
}

.menu {
}

.about {
}

.footer {
}
